argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
cachelib==0.13.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
configparser==7.1.0
cos_python_sdk_v5==1.9.36
crcmod==1.7
Flask==3.1.1
Flask-Cors==6.0.0
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-Session==0.8.0
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
msgspec==0.19.0
mysql-connector-python==9.2.0
packaging==25.0
pycparser==2.22
pycryptodome==3.21.0
PyJWT==2.10.1
PySocks==1.7.1
pytz==2024.2
redis==5.2.1
requests==2.32.4
six==1.17.0
soupsieve==2.6
typing_extensions==4.13.0
urllib3==2.6.3
Werkzeug==3.1.5
xmltodict==0.14.2
tencentcloud-sdk-python-captcha==3.0.1459
tencentcloud-sdk-python-common==3.1.38
